.DS_Store

# Vim swap files
*.swp
*.swo
*~
.*.swp
.*.swo

# raycast
.config/raycast/extensions/*

# github-copilot
.config/github-copilot/*

# gh
.config/gh/*

# configstore
.config/configstore/*

# iterm2
.config/iterm2/*

# jgit
.config/jgit/*
